/* start of header content */

.header {
    background-color: #1F2937;
    padding-bottom:105px;
}

body {
    margin:0;
}


.hbody {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    max-width:400px;
    margin-left:300px;
    gap:10px;
}

.htop {
    display:flex;
    justify-content: space-between;
    margin-left:300px;
    padding-bottom: 100px;
}

.headerlogo {
    display:flex;
    align-self:center;
    font-weight: bold;
}

.hbox {
    display:flex;
    justify-content: space-between;
    gap:10px;
}

.title {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.headerlinks {
    margin-right:300px;
}

.placeholder {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right:300px;
    align-self:center;
    width: 500px;
    height: 210px;
    background-color: gray;
    text-align: center;
}

.subtext, .headerlogo, .headerlinks, .placeholder {
    font-size: 18px;
    color:#E5E7EB;
}

ul {
    padding-inline-start: 0;
}

li {
    display:inline;
    margin-left:16px;
}

.headersubtext {
    display:flex;
    gap:40px;
}

.signup {
    background-color: #3882F6;
    color:white;
    width:100px;
    border-radius: 8px;
    border:none;
    padding:10px;
}

/* start of body content */

.body {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
}

.rinfo {
    font-size: 36px;
    font-weight: bold;
    color:#1F2937
}

.imageboxes {
    display:flex;
    gap: 30px;
}

.box {
    width:125px;
    height:125px;
    border-radius: 25px;
    border: 3px solid #3882F6;
}

.imagesubtexts {
    display:flex;
    gap:12px;
    padding-top:5px;
}

.imgsubtext {
    display:flex;
    flex-wrap:wrap;
    max-width: 150px;
    text-align: center;
}